/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

:root {
    --bg-color: rgb(33, 37, 41);
    --btn-bd-color: deepskyblue;
    --text-color: white;
    --social-media-color: cyan;
    --box-shadow-color: rgb(221, 254, 255);
    --project-btn-color: #007bff;
    --project-work-title-color: #4dabf7;
}

body {
    background-color: var(--bg-color);
    color: white;
}

div {
    display: block;
    unicode-bidi: isolate;
}

/* Navbar styles */
.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
    z-index: 1000;
    background-color: var(--bg-color);
    color: white;
    padding: 1rem 1.5rem;
    position: relative;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    border-image-slice: 1;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.logo {
    font-size: 1.3rem;
}

.logo a {
    font-style: italic;
    color: white;
}


.menu {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease;
    padding: 0.5rem 0.75rem;
}

.menu li a:hover {
    color: #c7d2fe;
}

/* Hamburger menu */
.hamburger {
    display: none;
    cursor: pointer;
    background: transparent;
    border: none;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 2;
}

.hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 0px;
}

.hamburger span:nth-child(2) {
    top: 8px;
}

.hamburger span:nth-child(3) {
    top: 16px;
}

section {
    justify-content: center;
    align-items: center;
    padding: 3rem 11% 2rem;
}

i {
    font-size: 1.3rem;
}

.title {
    font-size: 2rem;
    margin-bottom: 0.7rem;
    text-align: center;
}

/* Home */
.home {
    display: flex;
    padding: 8rem 11% 2rem;
}

.home-content {
    text-align: left;
    margin-right: 1.5rem;
}

.home-content h1 {
    font-size: 3rem;
}

.home-content h3 {
    font-size: 2rem;
}

.home-text {
    margin-bottom: 0.9rem;
}

.home-content p {
    font-size: 1.2rem;
}

.home-img img {
    width: 17vw;
    height: 20vw;
    border-radius: 50%;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1rem);
    }

    100% {
        transform: translateY(0);
    }
}

.social-media {
    margin-top: 1rem;
}

.social-media a {
    color: black;
    border: 1px solid var(--social-media-color);
    background-color: var(--social-media-color);
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 5px;
}

/* About Us */
.about {
    padding: 3rem 11% 2rem;
}

.about-container {
    display: flex;
    gap: 2rem;
}

.about-img img {
    width: 35vw;
    box-shadow: 0 0 0.5rem var(--box-shadow-color);
}

.about-body h2 {
    font-size: 2.5rem;
}

.about-body p:nth-of-type(1) {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.about-body p:nth-of-type(2) {
    font-size: 1.2rem;
}

.skills h2 {
    font-size: 1.5rem;
    margin: 15px 0 10px;
    color: var(--project-work-title-color);
}

.skills-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
}

.skill-item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.75rem 1.4rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
}

/* Work  */
.work-experience {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.work-experience h2 {
    font-size: 2rem;
    color: var(--project-work-title-color);
    margin-bottom: 1.5rem;
    text-align: center;
}

.experience-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.job-card {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    padding: 1.5rem;
    transition: all 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    gap: 1.5rem;
}

.job-logo {
    margin-top: auto;
    margin-bottom: auto;
}

.job-logo img {
    width: 5.5vw;
    height: 5.5w;
    border-radius: 20%;
}

.job-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
}

.job-details .role {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--project-work-title-color);
    margin-bottom: 0.5rem;
}

.job-details .company {
    font-weight: 500;
    color: #ced4da;
    margin-bottom: 0.5rem;
}

.job-details .dates {
    font-style: italic;
    color: #adb5bd;
    font-size: 0.9rem;
    margin-top: auto;
}

/* Projects */
.projects {
    text-align: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    max-width: 600px;
    margin: auto;
}

.project-card {
    background: rgba(255, 255, 255, 0.05);
    /* padding: 12px; */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    border-radius: 10px;
}

.project-card img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.project-info {
    padding: 15px;
}

.project-info h2 {
    margin: 15px 0 10px;
    color: var(--project-work-title-color);
}

.project-info p {
    font-size: 1em;
    color: #ced4da;
    text-align: left;
}

.project-links {
    margin-top: 10px;
}

.project-links a {
    text-decoration: none;
    color: white;
    background: var(--project-btn-color);
    padding: 8px 15px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    transition: background 0.3s;
}

.project-links a:hover {
    background: #0056b3;
}

.project-details {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 5px;
}

.details-item {
    margin-bottom: 0.5rem;
}

.item-label {
    font-weight: 500;
    color: var(--project-work-title-color);
    margin-right: 10px;
}

/* Scroll */
.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rebeccapurple;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    font-size: 16px;
    border: none;
}


/* Footer */
.footer {
    border-top: 3px solid white;
    padding: 2rem 0;
    margin-top: 2rem;
}

.footer-container {
    text-align: center;
    padding: 1.5rem;
}

.footer-container h2 {
    margin-bottom: 20px;
}

.footer-container .connection {
    margin-bottom: 10px;
    margin-top: 1rem;
}

.connection a {
    color: var(--social-media-color);
    border: 1px solid var(--social-media-color);
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 5px;
}

.copyright {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #adb5bd;
}

/* Mobile styles */
@media (max-width: 1200px) {
    .home-img img {
        width: 20vw;
        height: 25vw;
    }

    .home-content h1 {
        font-size: 2.5rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .home-content p {
        font-size: 1.2rem;
    }

    .job-card {
        min-width: 200;
    }

    .job-logo img {
        width: 6vw;
        height: 6w;
    }
}

@media (max-width: 991px) {
    .home-img img {
        width: 20vw;
        height: 25vw;
    }

    .home-content h1 {
        font-size: 1.8rem;
    }

    .home-content h3 {
        font-size: 1.5rem;
    }

    .home-content p {
        font-size: 1rem;
    }

    .experience-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .job-logo img {
        width: 8vw;
        height: 8w;
    }
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: var(--bg-color);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease;
        z-index: 1;
    }

    .menu.active {
        right: 0;
    }

    .menu li {
        margin: 1rem 0;
    }

    .menu li a {
        font-size: 1.2rem;
    }

    /* Hamburger animation */
    .hamburger.active span:nth-child(1) {
        top: 8px;
        transform: rotate(45deg);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        top: 8px;
        transform: rotate(-45deg);
    }

    /* Overlay */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 0;
    }

    .overlay.active {
        display: block;
    }

    .home {
        flex-direction: column;
    }

    .home-img img {
        width: 45vw;
        height: 50vw;
    }

    .home-content {
        order: 2;
        margin-right: 0 !important;
    }

    .home-content {
        margin-right: 0;
    }

    .social-media a {
        display: block;
        text-align: center;
        padding: 0.5rem 0 0.5rem 0;
    }

    .about-container {
        flex-direction: column;
    }

    .about-img img {
        width: 100%;
    }

    .about-body h2 {
        font-size: 2rem;
    }

    .about-body p:nth-of-type(1) {
        font-size: 1.1rem;
    }

    .about-body p:nth-of-type(2) {
        font-size: 1.1rem;
    }

    .about-body ul {
        font-size: 1rem;
    }

    .job-card {
        display: block;
    }

    .job-logo {
        text-align: center;
    }

    .job-logo img {
        width: 15vw;
        height: 15w;
    }
}