@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind theme;

.navbar-border {
    border-bottom: 0.15em solid transparent;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    border-image-slice: 1;
}

